@using CDB.Common;

@model CDB.BLL.Dto.Request.PaneShareholderDto

@{
    ViewData["Title"] = "Shareholders/Index";
}
@Html.HiddenFor(model => model.CompanyId)

<form asp-action="Index">

    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li><a asp-area="" asp-controller="Companies" asp-action="Edit" asp-route-id="@Model.CompanyId">Company</a></li>
            <li class="disabled" style="background-color:#d9edf7"><a asp-area="" asp-controller="Shareholders" asp-action="Index" asp-route-id="@Model.CompanyId">Shareholders</a></li>
            <li><a asp-area="" asp-controller="Documents" asp-action="UpdateDocumentPaneAsync" asp-route-id="@Model.CompanyId">Documents</a></li>
        </ul>
    </div>

    <p>
        <a asp-action="Create" asp-route-companyId ="@Model.CompanyId">Create New</a>
    </p>

    @if (Model.Shareholders != null && Model.Shareholders.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Shareholders[0].FullName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Shareholders[0].PhoneNumber)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Shareholders[0].PlaceAndDateOfBirth)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Shareholders[0].ShareContribution)
                    </th>
                    <th>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Shareholders)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.FullName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PhoneNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PlaceAndDateOfBirth)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ShareContribution)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", "Shareholders", new { id = item.Id }) |
                            @Html.ActionLink("Details", "View", "Shareholders", new { id = item.Id }) |
                            @Html.ActionLink("Delete", "Delete", "Shareholders", new { id = item.Id })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }



</form>


<!-- YAMLI CODE START -->
<script type="text/javascript" src="https://api.yamli.com/js/yamli_api.js"></script>
<script type="text/javascript">
    if (typeof (Yamli) == "object" && Yamli.init({ uiLanguage: "en", startMode: "onOrUserDefault" })) {
        Yamli.yamlify("", { settingsPlacement: "bottomLeft" });
        Yamli.yamlify('ArabicCompanyName');
        Yamli.yamlify('FinancialAuditorName');
        Yamli.yamlify('ShareHoldersName');
        Yamli.yamlify('ShareHoldersPosition');
        Yamli.yamlify('RegistPlaceNumb');
        Yamli.yamlify('AuthorizedSignature');
        Yamli.yamlify('LawyerName');

    }
</script>
<!-- YAMLI CODE END -->

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
