@using CDB.Common;

@model CDB.BLL.Dto.Request.ShareholderPaneDto

@{
    ViewData["Title"] = "UpdateShareHolderPaneAsync";
}


<form asp-action="CreateAsync">
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li><a asp-area="" asp-controller="Companies" asp-action="UpdateCompanyPaneAsync" asp-route-id="@Model.CompanyId">Company</a></li>
            <li class="disabled" style="background-color:#d9edf7"><a asp-area="" asp-controller="Company" asp-action="UpdateShareholderPaneAsync" asp-route-id="@Model.CompanyId">Shareholders</a></li>
            <li><a asp-area="" asp-controller="Documents" asp-action="Index" asp-route-id="@Model.CompanyId">Documents</a></li>
        </ul>
    </div>

    @foreach (CDB.BLL.Dto.Request.UpdateShareholderDto shareholder in Model.Shareholders)
    {
        <div class="panel panel-info">
            <div class="panel-heading"><b>@Constants.DISPLAY_PANEL_SHAREHOLDER_INFORMATION / @Constants.DISPLAY_PANEL_SHAREHOLDER_INFORMATION_AR</b></div>
            <div class="panel-body">
                @{ await Html.RenderPartialAsync("_UpdateShareHolder", shareholder);}
            </div>
        </div>
    }
    <div class="form-group">
        <input type="submit" value="Update" class="btn btn-default" onclick="clickAlert()" />
    </div>
    <script>
        function clickAlert() {
            if ($("#txt-name").val() == '')
                $("#error-label-txt-name").show()
            else
                $("#error-label-txt-name").hide()

            if ($("#txt1-name").val() == '')
                $("#error-label-txt1-name").show()
            else
                $("#error-label-txt1-name").hide()

            if ($("#txt-phone").val() == '')
                $("#error-label-txt-phone").show()
            else
                $("#error-label-txt-phone").hide()

            if ($("#txt1-phone").val() == '')
                $("#error-label-txt1-phone").show()
            else
                $("#error-label-txt1-phone").hide()

            if ($("#txt-share").val() == '')
                $("#error-label-txt-share").show()
            else
                $("#error-label-txt-share").hide()

            if ($("#txt1-share").val() == '')
                $("#error-label-txt1-share").show()
            else
                $("#error-label-txt1-share").hide()

            if ($("#txt-fnumber").val() == '')
                $("#error-label-txt-fnumber").show()
            else
                $("#error-label-txt-fnumber").hide()

            if ($("#txt1-fnumber").val() == '')
                $("#error-label-txt1-fnumber").show()
            else
                $("#error-label-txt1-fnumber").hide()

            if ($("#txt-dob").val() == '')
                $("#error-label-txt-dob").show()
            else
                $("#error-label-txt-dob").hide()

            if ($("#txt1-dob").val() == '')
                $("#error-label-txt1-dob").show()
            else
                $("#error-label-txt1-dob").hide()

            if ($("#txt-nationality").val() == '')
                $("#error-label-txt-nationality").show()
            else
                $("#error-label-txt-nationality").hide()

            if ($("#txt1-nationality").val() == '')
                $("#error-label-txt1-nationality").show()
            else
                $("#error-label-txt1-nationality").hide()

            if ($("#txt-procuratorname").val() == '')
                $("#error-label-txt-procuratorname").show()
            else
                $("#error-label-txt-procuratorname").hide()

            if ($("#txt1-procuratorname").val() == '')
                $("#error-label-txt1-procuratorname").show()
            else
                $("#error-label-txt1-procuratorname").hide()
        

            alert("Saved Successfully!");
            $('form :input').val('')
        }
    </script>

</form>


<!-- YAMLI CODE START -->
<script type="text/javascript" src="https://api.yamli.com/js/yamli_api.js"></script>
<script type="text/javascript">
    if (typeof (Yamli) == "object" && Yamli.init({ uiLanguage: "en", startMode: "onOrUserDefault" })) {
        Yamli.yamlify("", { settingsPlacement: "bottomLeft" });
        Yamli.yamlify('ArabicCompanyName');
        Yamli.yamlify('FinancialAuditorName');
        Yamli.yamlify('ShareHoldersName');
        Yamli.yamlify('ShareHoldersPosition');
        Yamli.yamlify('RegistPlaceNumb');
        Yamli.yamlify('AuthorizedSignature');
        Yamli.yamlify('LawyerName');

    }
</script>
<!-- YAMLI CODE END -->

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
