@model CDB.BLL.Dto.Request.CompanyDto

@{
    ViewData["Title"] = "View";
}

<h2>View</h2>

<div>
    <h4>CompanyDto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CompanyId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CompanyId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CompanyName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ArabicCompanyName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ArabicCompanyName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CompanyType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CompanyType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.District)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.District)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Kaza)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Kaza)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Road)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Road)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Building)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Building)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Floor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Floor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LawyerName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LawyerName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DocsAttached)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DocsAttached)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LawyerId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LawyerId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LawyerAuthorization)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LawyerAuthorization)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FinancialAuditorName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FinancialAuditorName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FinancialAuditorApproval)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FinancialAuditorApproval)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FinancialAuditorProfession)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FinancialAuditorProfession)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
