@using CDB.Common;

@model CDB.BLL.Dto.Request.DocumentPaneDto

@{
    ViewData["Title"] = "UpdateDocumentPaneAsync";
}


<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li><a asp-area="" asp-controller="Companies" asp-action="UpdateCompanyPaneAsync" asp-route-id="@Model.CompanyId">Company</a></li>
        <li><a asp-area="" asp-controller="Companies" asp-action="UpdateShareholderPaneAsync" asp-route-id="@Model.CompanyId">Shareholders</a></li>
        <li class="disabled" style="background-color:#d9edf7"><a asp-area="" asp-controller="Documents" asp-action="UpdateDocumentPaneAsync" asp-route-id="@Model.CompanyId">Documents</a></li>
    </ul>
</div>
<div class="panel panel-info">
    <div class="panel-heading"><b>@Constants.DISPLAY_PANEL_DOCUMENT_INFORMATION / @Constants.DISPLAY_PANEL_DOCUMENT_INFORMATION_AR</b></div>
    <div class="panel-body">
        @{ await Html.RenderPartialAsync("_ListDocuments", Model.Documents);}
    </div>
</div>
<div class="panel panel-info">
    <div class="panel-heading"><b>@Constants.DISPLAY_PANEL_DOCUMENT_UPLOAD / @Constants.DISPLAY_PANEL_DOCUMENT_UPLOAD_AR</b></div>
    <div class="panel-body">
        @{ await Html.RenderPartialAsync("_UploadDocument", new CDB.BLL.Dto.Request.DocumentDto());}
    </div>
</div>



<!-- YAMLI CODE START -->
<script type="text/javascript" src="https://api.yamli.com/js/yamli_api.js"></script>
<script type="text/javascript">
    if (typeof (Yamli) == "object" && Yamli.init({ uiLanguage: "en", startMode: "onOrUserDefault" })) {
        Yamli.yamlify("", { settingsPlacement: "bottomLeft" });
        Yamli.yamlify('ArabicCompanyName');
        Yamli.yamlify('FinancialAuditorName');
        Yamli.yamlify('ShareHoldersName');
        Yamli.yamlify('ShareHoldersPosition');
        Yamli.yamlify('RegistPlaceNumb');
        Yamli.yamlify('AuthorizedSignature');
        Yamli.yamlify('LawyerName');

    }
</script>
<!-- YAMLI CODE END -->

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
